.dropdown {
    margin-top: 2rem;

    select {
        width: 10rem;
        border: .5px solid black;
        border-radius: none;

        option {
            background-color: white;
        }
    }
}